@charset "utf-8";
/*Reset & Initial Setting*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url(./reset.css);

:root {
	--main: #fd7311;
	--sub1: #44aaae;
	--sub2: #fcba13;
	--bg: #f6f6f6;
}
html {
	font-size: calc(0.875rem + ((1vw - 3.2px) * 0.4545));
}
body {
	color: #141414;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	line-height: 1;
	background: var(--bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
img {
	display: block;
}
h3 {
	font-size: calc(1.5rem + ((1vw - 3.2px) * 0.6818));
	text-align: center;
}
.kr {
	font-family: "NanumBarunGothic", sans-serif;
	margin-top: 20px;
	color: #333;
	word-break: keep-all;
	letter-spacing: 0.01em;
}
.container {
	padding: 0 10px;
	position: relative;
}

/*Header*/
#header {
	width: 100%;
	height: 60px;
	overflow: hidden;
	position: fixed;
	background: var(--bg);
	z-index: 97;
}
#header .logo {
	width: 100px;
	margin-top: 13px;
}
#header .shadow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 0.4s;
	opacity: 0;
	z-index: 98;
}
#header .nav {
	font-size: 18px;
	position: fixed;
	right: -100%;
	top: 0;
	width: 80%;
	height: 100%;
	min-height: 100vh;
	background: #fff;
	padding-top: 100px;
	text-align: center;
	transition: right 0.4s;
	z-index: 99;
	overflow-y: auto;
}
#header.on .nav {
	right: 0;
}
#header.on .shadow {
	width: 100vw;
	opacity: 1;
}
#header .nav .gnb li {
	font-weight: 700;
}
#header .nav .gnb li.m-only {
	font-weight: 400;
	font-size: 14px;
}
#header .nav .gnb li.m-only i {
	margin-right: 10px;
}
#header .nav .gnb li a {
	padding: 15px 0;
}
#header .nav .gnb li.active,
#header .nav .gnb li:hover a {
	color: var(--main);
}
#header .hamburger {
	width: 45px;
	height: 42px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: -3px;
	z-index: 100;
	transition: transform 330ms ease-out;
}
#header .hamburger .menu-line {
	background: #141414;
	border-radius: 2px;
	width: 100%;
	height: 2px;
}
#header .hamburger .menu-line.half {
	width: 50%;
}
#header .hamburger .menu-line.first {
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: right;
}
#header .hamburger .menu-line.last {
	align-self: flex-end;
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: left;
}

/*Hamburger Animation*/
#header .hamburger.active {
	transform: rotate(-45deg);
}
.active .menu-line.first {
	transform: rotate(-90deg) translateX(3px);
}
.active .menu-line.last {
	transform: rotate(-90deg) translateX(-3px);
}

/*Footer*/
#footer {
	background: #eaeaea;
	padding: 30px 0;
	text-align: center;
	font-size: 12px;
}
#footer p {
	margin-bottom: 15px;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 20px;
	}
	#header {
		width: 100%;
		height: 80px;
	}
	#header .logo {
		width: 140px;
		margin-top: 15px;
		display: inline-block;
	}

	#header .nav {
		font-size: 16px;
		position: static;
		width: auto;
		height: auto;
		min-height: auto;
		background: none;
		padding-top: 0;
		text-align: unset;
		float: right;
		margin-top: 18px;
	}
	#header .nav .gnb {
		width: fit-content;
		display: flex;
		justify-content: flex-end;
		text-align: center;
	}
	#header .nav .gnb li {
		margin-left: 20px;
	}
	#header .nav .gnb li a {
		padding: 15px 10px;
	}
	#header .shadow {
		display: none;
	}
	#header .nav .gnb li.m-only {
		display: none;
	}
	#header .hamburger {
		display: none;
	}

	#footer {
		font-size: 14px;
		padding: 40px 0;
	}
	#footer p {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 18px;
	}
	h3 {
		font-size: 34px;
	}
	.container {
		padding: 0 15px;
		width: 1200px;
		margin: 0 auto;
	}
	#header .nav {
		font-size: 18px;
	}

	#footer {
		padding: 50px 0;
	}
}
