@charset "utf-8";

/*Visual*/
#visual {
	padding-top: 60px;
}
#visual .txt {
	margin-top: 50px;
}
#visual .txt .intro {
	position: relative;
}
#visual .txt .intro h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}
#visual .txt .intro .highlight {
	position: relative;
	width: fit-content;
}
#visual .txt .intro .highlight::after {
	content: "";
	display: inline-block;
	background: rgba(252, 186, 19, 0.4);
	width: 0%;
	height: 24px;
	position: absolute;
	bottom: 3px;
	left: 0;
	z-index: -1;
	animation: highlight 0.6s ease-in-out forwards;
}
#visual .txt .typo {
	width: 255px;
	height: 76px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
#visual .txt .typo img {
	width: 255px;
	height: 76px;
	position: absolute;
	left: 0;
	top: -100%;
	animation: slideDown 0.6s 0.8s ease forwards;
}
#visual .txt .typing {
	position: relative;
	font-weight: 100;
	font-size: 26px;
}
#visual .txt .typing .cover {
	display: block;
	background: var(--bg);
	width: 3px;
	height: 26px;
	position: absolute;
	left: 0;
	top: 0;
	animation: hide 0.1s 1.3s linear forwards;
}

@keyframes highlight {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes slideDown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*About*/
#contents {
	padding-top: 60px;
}
#contents .section {
	padding: 50px 0;
}
#contents .section h3 {
	margin-bottom: 40px;
}
#contents .section.about,
#contents .section.portfolio {
	padding: 0;
	padding-bottom: 50px;
}
.about h3 {
	padding: 50px 0;
	color: #fff;
	background: var(--sub1);
}
.about .self-intro {
	text-align: center;
	margin-bottom: 50px;
}
.about .self-intro .name {
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 30px;
}
.about .self-intro p {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	line-height: 1.7;
}
.about .self-intro p .kr {
	margin-top: 30px;
}
.about .self-intro p .kr i {
	color: var(--sub2);
}
.about .resume li {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	padding: 50px 10%;
	margin-bottom: 50px;
	border-radius: 25px;
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.1);
	opacity: 0;
	position: relative;
	top: 20px;
	transition: transform 0.4s;
}
.about .resume li:last-of-type {
	margin-bottom: 0px;
}
.about .resume li i {
	color: var(--main);
	font-size: 50px;
	margin-bottom: 20px;
}
.about .resume li h4 {
	font-size: 18px;
	margin-bottom: 30px;
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.about .resume .detail {
	text-align: left;
	line-height: 1.5;
}
.about .resume .detail > p {
	margin-bottom: 15px;
}
.about .resume .detail > p:last-child {
	margin-bottom: 0px;
}
.about .resume .detail small {
	display: block;
	color: #777;
	font-size: 14px;
}
.about .resume .detail .kr {
	margin-top: 5px;
}
.about .resume li:hover {
	transform: translateY(-15px);
}

/*Professional Skills*/
.skill {
	background: #fff;
}
.skill .gr-area,
.skill .pic {
	width: 100%;
	max-width: 400px;
	margin: 0 auto 30px;
}
.skill .gr-area .gr p {
	font-size: 14px;
	margin-bottom: 10px;
}
.skill .gr-area .gr .graph {
	position: relative;
	margin-bottom: 20px;
}
.skill .gr-area .gr .graph .bg {
	position: relative;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: var(--bg);
	overflow: hidden;
}
.skill .gr-area .gr .graph .bg::before {
	content: "";
	display: block;
	height: 10px;
	border-radius: 5px;
	position: absolute;
	left: -100%;
	top: 0;
	transition: left 1s ease-in-out;
}
.skill .gr-area .gr:first-of-type .graph .bg::before {
	width: 80%;
	background: var(--sub1);
}
.skill .gr-area .gr:nth-of-type(2) .graph .bg::before {
	width: 85%;
	background: var(--sub2);
}
.skill .gr-area .gr:nth-of-type(3) .graph .bg::before {
	width: 90%;
	background: var(--main);
}
.skill .gr-area .gr:last-of-type .graph .bg::before {
	width: 85%;
	background: var(--sub1);
}
.skill .gr-area .gr.on .graph .bg::before {
	left: 0%;
}

/*Portfolio*/
.portfolio h3 {
	padding: 50px 0;
	color: #fff;
	background: var(--sub2);
}
.portfolio h3 i {
	color: var(--main);
}
.portfolio .goto li {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 15px;
	background: #fff;
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.1);
}
.portfolio .goto li {
	margin-bottom: 50px;
}
.portfolio .goto li:last-of-type {
	margin-bottom: 0px;
}
.portfolio .goto li a {
	width: 100%;
}
.portfolio .goto li .pic {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	transition: background 0.4s;
}
.portfolio .goto li.web .pic {
	background-image: url(../images/about/web.jpg);
}
.portfolio .goto li.script .pic {
	background-image: url(../images/about/script.jpg);
}
.portfolio .goto li.graphic .pic {
	background-image: url(../images/about/graphic.jpg);
}
.portfolio .goto li .txt {
	margin-top: 15px;
}
.portfolio .goto li.web:hover .pic {
	background-image: url(../images/about/web_hover.jpg);
}
.portfolio .goto li.script:hover .pic {
	background-image: url(../images/about/script_hover.jpg);
}
.portfolio .goto li.graphic:hover .pic {
	background-image: url(../images/about/graphic_hover.jpg);
}

/*Contact*/
.contact {
	background: #fff;
}
.contact .deco {
	width: 210px;
	height: 210px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.contact .deco img {
	width: 210px;
	height: 210px;
	border-radius: 50%;
}
.contact .txt {
	width: fit-content;
	margin: 0 auto;
}
.contact .txt .info {
	position: relative;
}
.contact .txt li {
	margin-bottom: 20px;
	width: fit-content;
}
.contact .txt li .highlight {
	position: relative;
	cursor: pointer;
	transform-style: preserve-3d;
}
.contact .txt li .highlight::before {
	content: "";
	display: inline-block;
	width: 106%;
	height: 0%;
	position: absolute;
	bottom: -10%;
	left: -3%;
	background: rgba(252, 186, 19, 0.4);
	border-radius: 3px;
	transition: height 0.4s;
	cursor: pointer;
	transform: translateZ(-1px);
}
.contact .txt li:last-of-type {
	margin-bottom: 0px;
}
.contact .txt li .i-first {
	margin-right: 20px;
}
.contact .txt li .i-last {
	color: #777;
	transition: color 0.4s;
}
.contact .txt li.small-logo {
	width: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.contact .txt li:hover .highlight::before {
	height: 120%;
}
.contact .txt li:hover .i-last {
	color: #141414;
}

.side-btn {
	display: none;
}

@media screen and (min-width: 768px) {
	#visual {
		padding-top: 80px;
	}
	#visual .txt {
		margin-top: 80px;
	}
	#visual .txt .intro h2 {
		font-size: 36px;
	}
	#visual .txt .intro .highlight:after {
		width: 0%;
		height: 36px;
	}
	#visual .txt .typo {
		width: 400px;
		height: 119px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#visual .txt .typo img {
		width: 400px;
		height: 119px;
	}
	#visual .txt .typing {
		font-size: 48px;
	}
	#visual .txt .typing .cover {
		background: var(--bg);
		width: 6px;
		height: 48px;
	}

	#contents {
		padding-top: 80px;
	}
	#contents .section {
		padding: 80px 0;
	}
	#contents .section h3 {
		margin-bottom: 60px;
	}
	#contents .section.about,
	#contents .section.portfolio {
		padding: 0;
		padding-bottom: 80px;
	}
	.about h3,
	.portfolio h3 {
		padding: 60px 0;
	}
	.about .self-intro {
		margin-bottom: 60px;
	}
	.about .self-intro .name {
		font-size: 20px;
		margin-bottom: 50px;
	}
	.about .self-intro p {
		max-width: 900px;
	}
	.about .resume-area {
		display: flex;
		justify-content: space-between;
	}
	.about .resume li {
		width: calc((100% - 40px) / 3);
		padding: 50px 20px 35px;
		margin-bottom: 0px;
		margin: 0;
	}
	.about .resume li i {
		margin-bottom: 30px;
	}
	.about .resume li h4 {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.about .resume .detail p {
		margin-bottom: 20px;
	}
	.about .resume .detail .kr {
		margin-top: 5px;
	}

	.skill .gr-area,
	.skill .pic {
		width: auto;
		max-width: none;
		margin: 0;
	}
	.skill .skill-top,
	.portfolio .goto {
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.skill .skill-top {
		max-width: 900px;
	}
	.skill .skill-top .bar-graph,
	.skill .skill-top .pic {
		width: calc((100% - 20px) / 2);
	}
	.skill .gr-area .gr p {
		margin-bottom: 12px;
	}

	.portfolio .goto li {
		width: calc((100% - 40px) / 3);
	}
	.portfolio .goto li.web,
	.portfolio .goto li.script,
	.contact .txt li:last-of-type {
		margin-bottom: 0px;
	}

	.contact .row {
		display: flex;
		justify-content: center;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.contact .deco {
		width: 300px;
		height: 300px;
		margin: 0px;
		margin-bottom: 0px;
	}
	.contact .deco img {
		width: 300px;
		height: 300px;
	}
	.contact .txt {
		margin: 0px;
		padding-left: 80px;
	}
	.contact h3 {
		margin-top: 40px;
	}
	.contact .txt li {
		margin-bottom: 25px;
	}
	.contact .txt li .i-first {
		margin-right: 30px;
	}
	.contact .txt li.small-logo {
		width: 60px;
	}

	.side-btn {
		display: block;
		position: fixed;
		right: 30px;
		bottom: 30px;
	}
	.side-btn .btn-list {
		font-size: 25px;
		text-align: center;
		width: 50px;
		height: 101px;
		background: #fff;
		border-radius: 20px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	}
	.side-btn .btn-list li {
		color: #555;
		height: 50px;
		line-height: 50px;
	}
	.side-btn .btn-list li.resume {
		border-bottom: 1px solid var(--bg);
	}
	.side-btn .btn-list li:hover {
		color: var(--main);
	}
}

@media screen and (min-width: 1200px) {
	#visual {
		padding-top: 80px;
	}
	#visual .txt {
		margin-top: 160px;
	}
	#visual .txt .intro h2 {
		font-size: 55px;
	}
	#visual .txt .intro .highlight:after {
		width: 0%;
		height: 48px;
	}
	#visual .txt .typo {
		width: 585px;
		height: 174px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#visual .txt .typo img {
		width: 585px;
		height: 174px;
	}
	#visual .txt .typing {
		font-size: 72px;
	}
	#visual .txt .typing .cover {
		background: var(--bg);
		width: 8px;
		height: 72px;
	}

	#contents {
		padding-top: 80px;
	}
	#contents .section {
		padding: 100px 0;
	}
	#contents .section h3 {
		margin-bottom: 100px;
	}
	#contents .section.about,
	#contents .section.portfolio {
		padding: 0;
		padding-bottom: 100px;
	}
	.about h3,
	.portfolio h3 {
		padding: 80px 0;
	}
	.about .self-intro {
		margin-bottom: 100px;
	}
	.about .self-intro .name {
		font-size: 24px;
		margin-bottom: 60px;
	}
	.about .self-intro p {
		width: 1000px;
		max-width: none;
	}
	.about .resume li {
		width: calc((100% - 60px) / 3);
		padding: 50px 40px 35px;
		border-radius: 40px;
	}
	.about .resume li i {
		font-size: 60px;
		margin-bottom: 40px;
	}
	.about .resume li h4 {
		font-size: 24px;
		margin-bottom: 50px;
	}
	.about .resume .detail p {
		margin-bottom: 30px;
	}
	.about .resume .detail small {
		font-size: 16px;
	}

	.skill .skill-top,
	.portfolio .goto,
	.contact .row {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
	.skill .skill-top {
		justify-content: center;
	}
	.skill .skill-top .bar-graph,
	.skill .skill-top .pic {
		width: 400px;
		margin: 0 15px;
	}
	.skill .gr-area .gr p {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.portfolio .goto li {
		width: calc((100% - 60px) / 3);
		margin: 0;
		padding: 20px;
	}
	.portfolio .goto li .txt {
		margin-top: 20px;
	}

	#contents .section.contact h3 {
		margin-bottom: 60px;
	}
	.contact .deco {
		width: 400px;
		height: 400px;
	}
	.contact .deco img {
		width: 400px;
		height: 400px;
	}
	.contact .txt {
		padding-left: 160px;
	}
	.contact h3 {
		margin-top: 50px;
	}
	.contact .txt li {
		margin-bottom: 30px;
	}
	.contact .txt li.small-logo {
		width: 65px;
	}
}
