@import "../scss/variable";
@import "../scss/mixin";

#main{
    margin-top: 5rem;
    background-color: $bg;
    .projects{
        display: grid;
        
        @include mq('medium'){
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq('large'){
            grid-template-columns: repeat(3, 1fr);
        }
    }
}