$breakpoints: (
    "small": 375px,
    "medium": 500px,
    "large": 900px,
);
// $sidebar-breakpoint: 1025px;

//font-family
$serifFont: "Gloock", serif;
$mainFont: "Lato", "Raleway", "Arial", sans-serif;
$korFont: "NanumBarunGothic", sans-serif;

//colors
$bg: #f8f5f1;
$black: #2e2e2e;
$yellow: #f2a73f;
$orange: #fd7b40;
$blue: #6c95ce;
$beige1: #eee5d7;
$beige2: #deceaa;
$beige3: #ddc89d;
$purple: #c599ec;
$brown: #ba6f46;
